################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vagrant

### Node ###
# Logs
logs
*.log