<div style="margin-top: -35px">
    <div class="bs-docs-header pink accent-4">
        <div class="container">
            <br>
            <h4 class="white-text" style="margin-top:20px"><br>Mes applications, par Rémi Privet</h4> 
            <h5 class="pink-text text-lighten-4">
                Quelques réalisations durant mon temps libre...
            </h5>
            <br><br><br>
        </div> 
    </div>
</div>

<div class="container">
    <blockquote class="pink-blockquote">
        <p>
            Les applications et projets ci-dessous ont été entièrement développés par mes soins.
            <br>
            L'objectif était de monter en compétences sur des technologies innovantes. Vous retrouverez des applications <b>Android Natives</b> (c'est-à-dire en langage Java), des applications <b>Ionic Hybrides</b> (compatibles avec toutes les plateformes mobiles), ou encore des projets AngularJS (tel que ce site Web) ou des projets utilisant le Framework <b>Ruby On Rails</b> (couplés aux Frameworks <b>Bootstrap3</b> ou <b>MaterializeCSS</b>).
            <br>
            Les trois applications Android présentées sont les plus abouties, et disponibles sur le <b>PlayStore</b>. 
            <br><b>Déjà plusieurs milliers d'utilisateurs.</b>
            <br>
            Ludiques et aux goûts du jour graphiquement, elles vous feront passer un bon moment !
            <br>
            L'application Ionic <b>GREATHE</b> a quant à elle été développée bénévolement pour le <b>CHU GRENOBLE ALPES</b> dans le cadre d'une thèse scientifique.
            <br>
            Très prochainement, d'autres applications vont voir le jour, alors... Stay tuned...
        </p>
    </blockquote>
    
    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
            <div class="card hoverable">
                <a href="https://play.google.com/store/apps/developer?id=R%C3%A9mi+Privet" target="_blank">
                    <div class="card-image">
                        <img src="images/apps/icon_account.jpg">
                    </div>
                    <div class="card-action">
                        <a href="https://play.google.com/store/apps/developer?id=R%C3%A9mi+Privet" target="_blank">
                            <i class="material-icons">search</i> Mon compte développeur Android
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">CALCUL MENTAL RAPIDE</h2>
        <h5><a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.calculmentalrapide" target="_blank">
            <i class="material-icons">file_download</i> Retrouvez-la sur le PlayStore !</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>Calcul Mental Rapide est le jeu idéal pour vous réconcilier avec le calcul mental !</p>

                    <p>Améliorez-vous de manière progressive, et de façon ludique ! 
                        Jouez entre amis ou en famille, et tentez de réaliser le meilleur score !</p>

                    <p>Calcul Mental Rapide offre quatre niveaux de difficulté, permettant ainsi aussi aux enfants de s'amuser, 
                        ou aux plus téméraires de résoudre des opérations plus difficiles. 
                    Il contient également un mode de jeu inédit, "Vrai ou Faux", 
                        vous permettant de perfectionner encore mieux votre niveau en calcul. 
                    Répondez aux questions le plus rapidement possible et réalisez le meilleur score possible ! 
                        Visualisez vos statistiques et scores personnels, et améliorez-les !</p>

                    <p><b>Cette application s'est classée, grâce à sa simplicité et son intuitivité, 
                        dans le TOP 500 des meilleures applications Android Françaises (catégorie Réflexion) !</b></p>
                </blockquote>
            </div>
            <div class="col s3 m3">
                <img class="responsive-img" src="images/apps/qrcode_cmr.png">
                <p class="center-align pink-text text-accent-4">Téléchargez-la directement depuis votre Smartphone !</p>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen3cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen4cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen5cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen6cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">MES RECETTES CUISINE</h2>
        <h5><a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.mesrecettescuisine" target="_blank">
            <i class="material-icons">file_download</i> Retrouvez-la sur le PlayStore !</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>Mes Recettes Cuisine est l'application indispensable pour enregistrer et conserver toutes vos recettes de cuisine. </p>
					    
				    <p>Cette application remplacera votre livre de recettes personnel. 
                        Ajoutez-y vos recettes préférées, et accédez-y simplement et rapidement. </p>
	
                    <p>Mes Recettes Cuisine vous permet de créer et sauvegarder toutes vos recettes. 
                        Pour cela, une interface au design fluide et épurée est disponible, afin d'avoir une expérience utilisateur optimale. 
                        Vous pourrez créer vos recettes en quelques clics, et les avoir à jamais au près de vous ! 
                    Visualisez ensuite vos recettes, modifiez-les, partagez-les avec vos amis de manière très rapide. 
                    Mes Recettes Cuisine est votre nouveau livre de recette électronique, qui se veut très simple et intuitif.</p>

                    <p><b>Basée sur la dernière API Android Lollipop, l'application arbore un design élégant et intuitif basé sur les préconisations Material design de Google.</b></p>
                </blockquote>
            </div>
            <div class="col s3 m3">
                <img class="responsive-img" src="images/apps/qrcode_mrc.png">
                <p class="center-align pink-text text-accent-4">Scannez le QR code, et essayez là !</p>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen3mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen4mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen5mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
    </div>
    
    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">ENTRAINEMENT DES YEUX</h2>
        <h5><a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.entrainementdesyeux" target="_blank">
            <i class="material-icons">file_download</i> Retrouvez-la sur le PlayStore !</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>"Entraînement Des Yeux" est le jeu idéal pour augmenter de manière significative vos performances oculaires</p>
	
                    <p>L'application est composée de 8 MODES DE JEU INÉDITS ! Unique en son genre, 
                        ce jeu vous fera progresser de manière ludique à travers des exercices simple à comprendre, 
                        et s'adaptant à tous les niveaux.</p>

                    <p>Découvrez l'âge de vos yeux à travers un test oculaire inédit !</p>

                    <p>Statistiques et graphique disponibles. </p>

                    <p>Vos capacités visuelles sont mises à l'épreuve chaque jour lors d'activités physiques, 
                        lorsque vous conduisez ou dans la vie de tous les jours. 
                        Ce jeu est donc indispensable pour apprécier au mieux le monde qui vous entoure !</p>

                    <p>Chaque jeu présente une explication complète sur les bénéfices de l'exercice, et sur les règles du jeu.</p>

                    <p><b>L'application utilise l'API Google Play afin d'avoir un classement en ligne des meilleurs joueurs !</b></p>
                </blockquote>
            </div>
            <div class="col s3 m3">
                <img class="responsive-img" src="images/apps/qrcode_edy.png">
                <p class="center-align pink-text text-accent-4">Scannez, et téléchargez-la depuis votre Smartphone !</p>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen3edy.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen4edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen5edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen6edy.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen7edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen8edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen9edy.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
    </div>
    
    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">GREATHE</h2>
        <h5><a class="h4" href="http://www.chu-grenoble.fr/" target="_blank">
            <i class="material-icons">search</i> Application propriétaire du CHU Grenoble Alpes</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>GREATHE est une application mobile développée dans le cadre d'une thèse scientifique dont l'intitulé était : <br>
                    L'INTEGRATION DES TECHNOLOGIES DE L'INFORMATION ET DES COMMUNICATIONS DANS UN PROGRAMME D'EDUCATION THERAPEUTIQUE DES PATIENTS EN TRANSPLANTATION PULMONAIRE</p>

                    <p>J'ai donc développé l'application en partenariat avec le CHU Grenoble Alpes et l'étudiante en dernière année de pharmacie qui traitait ce sujet.</p>

                    <p>Il a donc fallu comprendre la problématique scientifique afin de répondre au mieux aux besoins demandés et de réaliser une 
                        application simple, intuitive, et très ergonomique puisque les patients concernés n'étaient pas forcément sensibilisés
                        à l'utilisation des nouvelles technologies mobiles.
                    </p>

                    <p><b>L'application permet aujourd'hui aux patients greffés pulmonaires 
                        d'apprendre de manière ludique leur programme thérapeutique.
                        Le but étant à terme d'éviter au maximum les rejets des greffons grâce à une hygiène de vie adaptée, apprise dans l'application.</b></p>
                
                </blockquote>
            </div>
            <div class="col s3 m3">
                <img class="responsive-img" src="images/screensApplications/logo_greathe.png">
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1greathe.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2greathe.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen6greathe.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen3greathe.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen4greathe.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen5greathe.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">RUN FOR A CAUSE</h2>
        <h5><a class="h4" href="http://lesenfantsdudragon.com/" target="_blank">
            <i class="material-icons">search</i> Site internet pour récolter des fonds pour l'association "Les Enfants du dragon"</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>RUN FOR A CAUSE est un site internet que j'ai créé dans le but de récolter des fonds pour l'association carritative "Les enfants du dragon".<br>
                        Mon frère, Nicolas PRIVET, a imaginé un principe simple : Courir la Diagonale des fous (Course à la Réunion de 160km avec 10000M de dénivelé positif), et récolter de l'argent pour cette association.<br>
                        Le but était simple : les donnateurs devaient réaliser une promesse de don par kilomètre achevé par Nicolas lors de la course (par exemple, 1€ pour 1km -> 160€ si il arrivait au terme de la course).
                    </p>

                    <p>Le site internet a été écrit avec le Framework Ruby On Rails, et traduit en 3 langues : Français, Anglais et Vietnamien (les fonds récoltés étaient pour des enfants vietnamiens défavorisés).</p>

                    <p><b>Nicolas ayant terminé la course, nous avons pu récolter 3500$ pour l'association !</b></p>
                
                </blockquote>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1runforacause.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen3runforacause.jpg" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2runforacause.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        
    </div>

    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">Rémi Cuisine</h2>
        <h5><a class="h4" href="https://remicuisine.fr/" target="_blank">
            <i class="material-icons">search</i> Mon blog de cuisine, regroupant mes recettes favorites et autres découvertes culinaires</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>
                        RémiCuisine est un site internet que j'ai créé dans le but d'avoir mon propre blog de cuisine, 
                        afin de répertorier les différentes recettes que j'ai pu réaliser... <br> Depuis plusieurs
                        années je suis passionné de cuisine, et ce site est donc à l'image de ma passion pour la
                        cuisine, alliée à mon métier d'ingénieur en informatique.
                    </p>

                    <p>Cette Web application a été écrite en utilisant le FrameWork IONIC2, avec un Middleware NodeJS, et une base données NoSQL Couchdb.
                        Ce site internet a donc vocation à devenir une application mobile très prochainement, grâce à Ionic qui permet le portage cross-platform très facilement.
                    </p>
                
                </blockquote>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1rc.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2rc.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        
    </div>
    
    
</div>
