<div style="margin-top: -35px">
    <div class="bs-docs-header pink accent-4">
        <div class="container">
            <br>
            <h4 class="white-text" style="margin-top:20px"><br>Mes applications, par Rémi Privet</h4> 
            <h5 class="pink-text text-lighten-4">
                Quelques réalisations durant mon temps libre...
            </h5>
            <br><br><br>
        </div> 
    </div>
</div>

<div class="container">
    <blockquote class="pink-blockquote">
        <p>
            Les applications et projets ci-dessous ont été entièrement développés par mes soins.
            <br>
            L'objectif était de monter en compétences sur des technologies innovantes. Vous retrouverez des applications <b>Android Natives</b> (c'est-à-dire en langage Java), des applications <b>Ionic Hybrides</b> (compatibles avec toutes les plateformes mobiles), ou encore des projets AngularJS (tel que ce site Web) ou des projets utilisant le Framework <b>Ruby On Rails</b> (couplés aux Frameworks <b>Bootstrap3</b> ou <b>MaterializeCSS</b>).
            <br>
            Les trois applications Android présentées sont les plus abouties, et disponibles sur le <b>PlayStore</b>.
            <br>
            Ludiques et aux goûts du jour graphiquement, elles vous feront passer un bon moment !
            <br>
            L'application Ionic <b>GREATHE</b> a quant à elle été développée pour le <b>CHU de GRENOBLE</b> dans le cadre d'une thèse scientifique.
        </p>
    </blockquote>
    
    <!--<div class="row">
        <div class="slider" slider height='200'>
            <ul class="slides">
                <li>
                    <img src="images/apps/lightgreen.png">
                    <div class="caption center-align">
                        <h3>Android</h3>
                        <h5>
                            <a href="http://developer.android.com" targert="_blank" class="light white-text">
                                http://developer.android.com
                            </a>
                        </h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/2">
                    <div class="caption left-align">
                        <h3>Ionic</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                        <img src="http://lorempixel.com/580/250/nature/3">
                        <div class="caption right-align">
                    <h3>Ruby On Rails</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://lorempixel.com/580/250/nature/4">
                    <div class="caption center-align">
                        <h3>MaterializeCSS</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>-->
    
    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
            <div class="card hoverable">
                <a href="https://play.google.com/store/apps/developer?id=R%C3%A9mi+Privet" target="_blank">
                    <div class="card-image">
                        <img src="images/apps/icon_account.jpg">
                    </div>
                    <div class="card-action">
                        <a href="https://play.google.com/store/apps/developer?id=R%C3%A9mi+Privet" target="_blank">
                            <i class="material-icons">search</i> Mon compte développeur Android
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">CALCUL MENTAL RAPIDE</h2>
        <h5><a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.calculmentalrapide" target="_blank">
            <i class="material-icons">file_download</i> Retrouvez-la sur le PlayStore !</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>Calcul Mental Rapide est le jeu idéal pour vous réconcilier avec le calcul mental !</p>

                    <p>Améliorez-vous de manière progressive, et de façon ludique ! 
                        Jouez entre amis ou en famille, et tentez de réaliser le meilleur score !</p>

                    <p>Calcul Mental Rapide offre quatre niveaux de difficulté, permettant ainsi aussi aux enfants de s'amuser, 
                        ou aux plus téméraires de résoudre des opérations plus difficiles. 
                    Il contient également un mode de jeu inédit, "Vrai ou Faux", 
                        vous permettant de perfectionner encore mieux votre niveau en calcul. 
                    Répondez aux questions le plus rapidement possible et réalisez le meilleur score possible ! 
                        Visualisez vos statistiques et scores personnels, et améliorez-les !</p>

                    <p><b>Cette application s'est classée, grâce à sa simplicité et son intuitivité, 
                        dans le TOP 500 des meilleures applications Android Françaises (catégorie Réflexion) !</b></p>
                </blockquote>
            </div>
            <div class="col s3 m3">
                <img class="responsive-img" src="images/apps/qrcode_cmr.png">
                <p class="center-align pink-text text-accent-4">Téléchargez-la directement depuis votre Smartphone !</p>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen3cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen4cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen5cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen6cmr.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">MES RECETTES CUISINE</h2>
        <h5><a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.mesrecettescuisine" target="_blank">
            <i class="material-icons">file_download</i> Retrouvez-la sur le PlayStore !</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>Mes Recettes Cuisine est l'application indispensable pour enregistrer et conserver toutes vos recettes de cuisine. </p>
					    
				    <p>Cette application remplacera votre livre de recettes personnel. 
                        Ajoutez-y vos recettes préférées, et accédez-y simplement et rapidement. </p>
	
                    <p>Mes Recettes Cuisine vous permet de créer et sauvegarder toutes vos recettes. 
                        Pour cela, une interface au design fluide et épurée est disponible, afin d'avoir une expérience utilisateur optimale. 
                        Vous pourrez créer vos recettes en quelques clics, et les avoir à jamais au près de vous ! 
                    Visualisez ensuite vos recettes, modifiez-les, partagez-les avec vos amis de manière très rapide. 
                    Mes Recettes Cuisine est votre nouveau livre de recette électronique, qui se veut très simple et intuitif.</p>

                    <p><b>Basée sur la dernière API Android Lollipop, l'application arbore un design élégant et intuitif.</b></p>
                </blockquote>
            </div>
            <div class="col s3 m3">
                <img class="responsive-img" src="images/apps/qrcode_mrc.png">
                <p class="center-align pink-text text-accent-4">Scannez le QR code, et essayez là !</p>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen3mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen4mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen5mrc.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
    </div>
    
    <div class="row">
        <br>
        <h2 class="pink-text text-accent-4">ENTRAINEMENT DES YEUX</h2>
        <h5><a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.entrainementdesyeux" target="_blank">
            <i class="material-icons">file_download</i> Retrouvez-la sur le PlayStore !</a>
        </h5>
        
        <div class="row" style="margin-bottom:30px">
            <div class="col s9 m9">
                <blockquote class="orange-blockquote">
                    <p>"Entraînement Des Yeux" est le jeu idéal pour augmenter de manière significative vos performances oculaires</p>
	
                    <p>L'application est composée de 8 MODES DE JEU INÉDITS ! Unique en son genre, 
                        ce jeu vous fera progresser de manière ludique à travers des exercices simple à comprendre, 
                        et s'adaptant à tous les niveaux.</p>

                    <p>Découvrez l'âge de vos yeux à travers un test oculaire inédit !</p>

                    <p>Statistiques et graphique disponibles. </p>

                    <p>Vos capacités visuelles sont mises à l'épreuve chaque jour lors d'activités physiques, 
                        lorsque vous conduisez ou dans la vie de tous les jours. 
                        Ce jeu est donc indispensable pour apprécier au mieux le monde qui vous entoure !</p>

                    <p>Chaque jeu présente une explication complète sur les bénéfices de l'exercice, et sur les règles du jeu.</p>

                    <p><b>L'application utilise l'API Google Play afin d'avoir un classement en ligne des meilleurs joueurs !</b></p>
                </blockquote>
            </div>
            <div class="col s3 m3">
                <img class="responsive-img" src="images/apps/qrcode_edy.png">
                <p class="center-align pink-text text-accent-4">Scannez, et téléchargez-la depuis votre Smartphone !</p>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen1edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen2edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen3edy.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen4edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen5edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen6edy.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row" style="margin-bottom:30px">
            <div class="col s4 m4">
                <img src="images/screensApplications/screen7edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen8edy.png" materialboxed class="materialboxed responsive-img">
            </div>
            <div class="col s4 m4">
                <img src="images/screensApplications/screen9edy.png" materialboxed class="materialboxed responsive-img">
            </div>
        </div>
    </div>
    
    
</div>
