<!DOCTYPE html>
<html lang="fr">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="description" content="Site de Rémi Privet, découvrez mes applications Android et mes développements logiciels" />
	    <meta name="keywords" content="Rémi Privet, ingénieur, informatique, développement, applications, android">
	    <meta name="author" content="Rémi Privet">
	    
	    <title>Applications - Site de Rémi Privet</title>
	    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet">
		<link href="bootstrap3/css/custom.css" rel="stylesheet">
	</head>
	<body>
		<div class="header">
			<nav id="header_navbar" class="navbar navbar-default navbar-fixed-top blue-background-rp">
				<div class="container">
			     	<ul class="nav navbar-nav col-lg-2">
				        <li><a href="index.html"><span class="glyphicon glyphicon-home white"></span></a></li>
				    </ul>
				    <div class="text-center col-lg-9" style="margin-left:-13px;">
						<h4 id="website_url" class="white col-lg-3 col-lg-push-4">www.remiprivet.fr</h4>
						<p id="contactme" class="white col-lg-3 col-lg-push-7 bs-callout" style="padding:0"><span class="glyphicon glyphicon-envelope"></span> <br>privet.remi@gmail.com</p>
					</div>
				</div>
			</nav>
		</div>
		
		<div class="bs-docs-header pink-background-rp">
			<div class="container">
				<h1><br>Mes applications, par Rémi Privet</h1> 
				<h3 style="color:#f8bbd0"> Quelques réalisations durant mon temps libre...
				</h3>
				
				
			</div> 
		</div>
		
		<div class="container" style="margin-top: 50px;">
			<div class="row">
				<div class="col-lg-8">
					<p class="chapter-intro" style="text-align: justify;">
					Les applications ci-dessous ont été entièrement développées en Android natif, c'est-à-dire en langage JAVA.
					<br>
					Il s'agit de projets uniquement réalisés par mes soins, et ayant pour but de monter en compétences sur le développement d'applications Android.
					<br>
					Les trois applications présentées sont les plus abouties, et disponibles sur le PlayStore.
					<br>
					Ludiques et propres graphiquement, elles vous feront passer un bon moment !
					</p>
				</div>
				<div class="col-lg-3 col-lg-push-1">
					<img style="height:200px;width:200px;" alt="android_logo" src="images/Android_logo.png">
				</div>
			</div>
			
			<div class="row" style="margin-top:50px;text-align:center;">
				<div class="col-lg-4 col-lg-push-4">
					<a href="https://play.google.com/store/apps/developer?id=R%C3%A9mi+Privet" target="_blank">
						<img alt="myapps_logo" src="images/apps/icon_account.jpg" data-alt-src="images/apps/icon_account_hover.jpg" class="xyz">
					</a>
				</div>
			</div>
			<div class="row" style="text-align:center;">
				<div class="col-lg-4 col-lg-push-4">
					<a href="https://play.google.com/store/apps/developer?id=R%C3%A9mi+Privet" class="h4" target="_blank">
						<h4><span class="glyphicon glyphicon-search"></span> Mon compte développeur PlayStore</h4>
					</a>
				</div>
			</div>
			
			
			<div class="row" style="margin-top: 50px;">
				<div class="col-lg-12">
					<h2 class="pink">CALCUL MENTAL RAPIDE</h2>
					<p> <a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.calculmentalrapide" target="_blank"><span class="glyphicon glyphicon-download"></span> Retrouvez-la sur le PlayStore !</a></p>
				    
				    <div class="bs-callout bs-callout-pink col-lg-9">
					    <p>Calcul Mental Rapide est le jeu idéal pour vous réconcilier avec le calcul mental !</p>
					    
						<p>Améliorez-vous de manière progressive, et de façon ludique ! Jouez entre amis ou en famille, et tentez de réaliser le meilleur score !</p>
	
						<p>Calcul Mental Rapide offre quatre niveaux de difficulté, permettant ainsi aussi aux enfants de s'amuser, ou aux plus téméraires de résoudre des opérations plus difficiles. 
						Il contient également un mode de jeu inédit, "Vrai ou Faux", vous permettant de perfectionner encore mieux votre niveau en calcul. 
						Répondez aux questions le plus rapidement possible et réalisez le meilleur score possible ! Visualisez vos statistiques et scores personnels, et améliorez-les !</p>
						
						<p><b>Cette application s'est classée, grâce à sa simplicité et son intuitivité, dans le TOP 500 des meilleures applications Android Françaises (catégorie Réflexion) !</b></p>
					</div>
					<div class="col-lg-3" style="margin-top:20px;">
						<img src="images/apps/qrcode_cmr.png" class="col-lg-11">
						<p style="text-align: center;">Téléchargez-la directement depuis votre Smartphone !</p>
					</div>
				</div>
				
				
				
				<div class="col-lg-12" style="margin-top: 50px;">
					<div class="row">
						<div class="col-lg-4">
							<img src="images/screensApplications/screen1cmr.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen2cmr.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen3cmr.png" class="screen-img img-responsive">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-4">
							<img src="images/screensApplications/screen4cmr.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen5cmr.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen6cmr.png" class="screen-img img-responsive">
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row" style="margin-top: 50px;">
				<div class="col-lg-12">
					<h2 class="pink">Mes Recettes Cuisine</h2>
					<p> <a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.mesrecettescuisine" target="_blank"><span class="glyphicon glyphicon-download"></span> Retrouvez-la sur le PlayStore !</a></p>
				    
				    <div class="bs-callout bs-callout-pink col-lg-9">
					    <p>Mes Recettes Cuisine est l'application indispensable pour enregistrer et conserver toutes vos recettes de cuisine. </p>
					    
						<p>Cette application remplacera votre livre de recettes personnel. Ajoutez-y vos recettes préférées, et accédez-y simplement et rapidement. </p>
	
						<p>Mes Recettes Cuisine vous permet de créer et sauvegarder toutes vos recettes. Pour cela, une interface au design fluide et épurée est disponible, afin d'avoir une expérience utilisateur optimale. Vous pourrez créer vos recettes en quelques clics, et les avoir à jamais au près de vous ! 
						Visualisez ensuite vos recettes, modifiez-les, partagez-les avec vos amis de manière très rapide. 
						Mes Recettes Cuisine est votre nouveau livre de recette électronique, qui se veut très simple et intuitif.</p>
						
						<p><b>Basée sur la dernière API Android Lollipop, l'application arbore un design élégant et intuitif.</b></p>
					</div>
					<div class="col-lg-3" style="margin-top:20px;">
						<img src="images/apps/qrcode_mrc.png" class="col-lg-11">
						<p style="text-align: center;">Scannez le QR code, et essayez là !</p>
					</div>
				</div>
				
				
				
				<div class="col-lg-12" style="margin-top: 50px;">
					<div class="row">
						<div class="col-lg-4">
							<img src="images/screensApplications/screen1mrc.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen2mrc.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen3mrc.png" class="screen-img img-responsive">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-4">
							<img src="images/screensApplications/screen4mrc.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen5mrc.png" class="screen-img img-responsive">
						</div>
					</div>
				</div>
				
			</div>
			
			
			<div class="row" style="margin-top: 100px;">
				<div class="col-lg-12">
					<h2 class="pink">ENTRAINEMENT DES YEUX</h2>
					<p> <a class="h4" href="https://play.google.com/store/apps/details?id=remi.appli.entrainementdesyeux" target="_blank"><span class="glyphicon glyphicon-download"></span> Téléchargez-la sur le PlayStore !</a></p>
					
					<div class="bs-callout bs-callout-pink col-lg-9">
						<p>"Entraînement Des Yeux" est le jeu idéal pour augmenter de manière significative vos performances oculaires</p>
	
						<p>L'application est composée de 8 MODES DE JEU INÉDITS ! Unique en son genre, ce jeu vous fera progresser de manière ludique à travers des exercices simple à comprendre, et s'adaptant à tous les niveaux.</p>
						
						<p>Découvrez l'âge de vos yeux à travers un test oculaire inédit !</p>
						
						<p>Statistiques et graphique disponibles. </p>
						
						<p>Vos capacités visuelles sont mises à l'épreuve chaque jour lors d'activités physiques, lorsque vous conduisez ou dans la vie de tous les jours. Ce jeu est donc indispensable pour apprécier au mieux le monde qui vous entoure !</p>
						
						<p>Chaque jeu présente une explication complète sur les bénéfices de l'exercice, et sur les règles du jeu.</p>
					
						<p><b>L'application utilise l'API Google Play afin d'avoir un classement en ligne des meilleurs joueurs !</b></p>
					</div>
					
					<div class="col-lg-3" style="margin-top:20px;">
						<img src="images/apps/qrcode_edy.png" class="col-lg-11">
						<p style="text-align: center;">Scannez, et téléchargez-la depuis votre Smartphone !</p>
					</div>
				</div>
				
				<div class="col-lg-12" style="margin-top: 50px;">
				
					<div class="row">
						<div class="col-lg-4">
							<img src="images/screensApplications/screen1edy.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen2edy.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen3edy.png" class="screen-img img-responsive">
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-4">
							<img src="images/screensApplications/screen4edy.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen5edy.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen6edy.png" class="screen-img img-responsive">
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-4">
							<img src="images/screensApplications/screen7edy.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen8edy.png" class="screen-img img-responsive">
						</div>
						<div class="col-lg-4">
							<img src="images/screensApplications/screen9edy.png" class="screen-img img-responsive">
						</div>
					</div>

				</div>
			</div>
		</div>

	</body>
</html>