<!DOCTYPE html>
<html lang="fr">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="description" content="Site de Rémi Privet, ingénieur en informatique, mon parcours, mes expériences professionnelles, mes passions" />
	    <meta name="keywords" content="Rémi Privet, ingénieur, informatique, esisar, grenoble-inp, iae grenoble, passions, développement">
	    <meta name="author" content="Rémi Privet">
	    
	    <title>Parcours - Site de Rémi Privet</title>
	    <link href="bootstrap3/css/bootstrap.min.css" rel="stylesheet">
		<link href="bootstrap3/css/custom.css" rel="stylesheet">
	</head>
	<body>
		<div class="header">
			<nav id="header_navbar" class="navbar navbar-default navbar-fixed-top blue-background-rp">
				<div class="container">
			     	<ul class="nav navbar-nav col-lg-2">
				        <li><a href="index.html"><span class="glyphicon glyphicon-home white"></span></a></li>
				    </ul>
				    <div class="text-center col-lg-9" style="margin-left:-13px;">
						<h4 id="website_url" class="white col-lg-3 col-lg-push-4">www.remiprivet.fr</h4>
						<p id="contactme" class="white col-lg-3 col-lg-push-7 bs-callout" style="padding:0"><span class="glyphicon glyphicon-envelope"></span> <br>privet.remi@gmail.com</p>
					</div>
				</div>
			</nav>
		</div>
		
		<div class="bs-docs-header orange-background-rp">
			<div class="container">
				<h1><br>Mon parcours, Rémi Privet</h1> 
				<h3 style="color:#ffe0b2"> Ingénieur en Informatique et Réseaux (Grenoble-INP Esisar)<br> 
				Master 2 d'Administration des entreprises et Management (IAE Grenoble)
				</h3>
			</div> 
		</div>
		
		<div class="container" style="margin-top: 50px;">
			<div class="row">
				<div class="col-lg-8">
					<p class="chapter-intro" style="text-align: justify;">
					Jeune diplômé ingénieur en Informatique et Réseaux, je suis passionné par le développement Logiciel, le développement sur Mobiles et le développement Web.
					<br>
					Grâce à mon double diplôme en Management et Administration des entreprises, je m'ouvre aussi à la gestion de projet.
					<br>
					Perfectionniste, travailleur et persévérant.
					<br>
					Je suis également sportif, adepte de photographie, voyages, nature, Formule 1 ainsi que de Rubik's Cubes !
					</p>
				</div>
				<div class="col-lg-3 col-lg-push-1">
					<img style="height:200px;width:130px;" alt="android_logo" src="images/carriere/remiprivet.png">
				</div>
			</div>
			
			<div class="row text-center" style="margin-top: 50px;">
				<div class="col-lg-12">
					<a href="images/carriere/CV_Rémi_Privet.pdf"><img src="images/carriere/cv.png" class="img-thumbnail" style="text-align: center;" alt="Image CV"></a>
				</div>
			</div>
			
			<div class="row" style="margin-top: 20px;">
				<div class="col-lg-12">
				
					<h2 class="orange">Mes Formations</h2>
				    
				    <div class="bs-callout bs-callout-orange row">
				    	<div class="col-lg-9">
				    		<h3>Diplôme d’ingénieur en Systèmes Avancés et Réseaux (Spécialité Informatique et Réseaux)</h3>
				    		<p><img src="images/carriere/icon_calendar.png">  <i>Septembre 2009 à Juillet 2014</i></p>
				    		<div class="row">
				    			<br>
					    		<div id="div_button_esisar_see_more" class="col-lg-2 col-lg-push-5">
					    			<button class="btn orange-background-rp white"><b>Voir détails...</b></button>
						    	</div>
						    	<div id="div_button_esisar_see_less" class="col-lg-2 col-lg-push-5" style="display:none;">
						    		<button class="btn orange-background-rp white"><b>Voir moins</b></button>
						    	</div>
				    		</div>
				    		
				    	</div>
				    	<div class="col-lg-3">
				    		<img class="img-responsive" style="height:150px;" alt="android_logo" src="images/carriere/img_esisar.JPG">
				    		<p class="text-center">GRENOBLE-INP ESISAR, Valence 26000, France</p>
				    	</div>
				    	<div id="div_esisar_description" class="col-lg-9" style="display:none;">
				    		<p>
					    		<ul>
						    		<li><b class="orange">Algorithmie avancée</b></li>
						    		<li><b class="orange">Langages orientés objets (Java, Ada...)</b></li>
						    		<li>Langages de programmation (C...)</li>
						    		<li><b class="orange">Administration systèmes (Unix, shell...)</b></li>
						    		<li><b class="orange">Gestion des bases de données (SQL)</b></li>
						    		<li>Architecture logicielle (STM8, STM32, Motorola 68000...)</li>
						    		<li>Réseaux informatiques (protocoles, équipements, TCP/IP, WireShark...)</li>
						    		<li>Administration des réseaux (commandes Cisco, configurations switchs, routeurs...)</li>
						    		<li><b class="orange">API sockets (TCP, UDP)</b></li>
						    		<li>Applications temps-réel (architecture, conception et développement)</li>
						    		<li>Gestion de projet</li>
						    		<li><b class="orange">Projet Industriel de 6 mois</b></li>
						    		<li>Physique</li>
						    		<li>Notions d'électronique, automatique</li>
					    		</ul>
							</p>
				    	</div>
					</div>
					
					<div class="bs-callout bs-callout-orange row">
				    	<div class="col-lg-9">
				    		<h3>Master 2 Management et Administration des entreprises</h3>
				    		<p><img src="images/carriere/icon_calendar.png">  <i>Septembre 2013 à Février 2015</i></p>
				    		
				    		<div class="row">
				    			<br>
					    		<div id="div_button_iae_see_more" class="col-lg-2 col-lg-push-5">
					    			<button class="btn orange-background-rp white"><b>Voir détails...</b></button>
						    	</div>
						    	<div id="div_button_iae_see_less" class="col-lg-2 col-lg-push-5" style="display:none;">
						    		<button class="btn orange-background-rp white"><b>Voir moins</b></button>
						    	</div>
				    		</div>
				    		
				    	</div>
				    	<div class="col-lg-3">
					    	<div class="row">
					    		<img class="col-lg-8 col-lg-push-2" style="height:150px; text-align:center;" alt="android_logo" src="images/carriere/img_iae.jpg">
					    	</div>
					    	<div class="row">
				    			<p class="text-center">IAE Grenoble, Grenoble 38000, France</p>
				    		</div>	
				    	</div>
				    	<div id="div_iae_description" class="col-lg-9" style="display:none;">
				    		<p>
					    		<ul>
						    		<li>Gestion de projet</li>
						    		<li><b class="orange">Management des équipes</b></li>
						    		<li>Choix d’investissement</li>
						    		<li><b class="orange">Supply Chain Management</b></li>
						    		<li><b class="orange">Contrôle de gestion</b></li>
						    		<li>Comptabilité financière</li>
						    		<li>Achats</li>
						    		<li><b class="orange">Business plan</b></li>
						    		<li><b class="orange">Veille technologique</b></li>
						    		<li>Communication</li>
					    		</ul>
							</p>
				    	</div>
				    	
					</div>
					
					<div class="bs-callout bs-callout-orange row">
				    	<div class="col-lg-9">
				    		<h3>Baccalauréat Scientifique, option Mathématiques, Mention Bien</h3>
				    		<p><img src="images/carriere/icon_calendar.png">  <i>Juin 2009</i></p>
				    	</div>
				    	<div class="col-lg-3">
				    		<p class="text-center">Lycée Emile Loubet, Valence 26000, France</p>
				    	</div>
					</div>
					
				</div>
			</div>
			
			<div class="row" style="margin-top: 50px;">
				<div class="col-lg-12">
					<h2 class="orange">Mes expériences professionnelles</h2>
				    
				    <div id="div_kapt_experience" class="bs-callout bs-callout-orange row">
				    	<div class="col-lg-9">
				    		<h3>Projet de fin d’études (stagiaire) : conception et développement du service touristique « 10 Things To See »</h3>
				    		<p><img src="images/carriere/icon_calendar.png">  <i>Février 2014 à Juillet 2014</i></p>
				    		
				    		<div class="row">
				    			<br>
					    		<div id="div_button_kapt_see_more" class="col-lg-2 col-lg-push-5">
					    			<button class="btn orange-background-rp white"><b>Voir détails...</b></button>
						    	</div>
						    	<div id="div_button_kapt_see_less" class="col-lg-2 col-lg-push-5" style="display:none;">
						    		<button class="btn orange-background-rp white"><b>Voir moins</b></button>
						    	</div>
				    		</div>
				    	</div>
				    	<div class="col-lg-3">
				    		<a href="http://kapt.mobi/" target="_blank"><img class="img-responsive" style="height:90px;" alt="android_logo" src="images/carriere/kapt.png"></a>
				    		<p class="text-center">KAPT, Alixan 26300, France</p>
				    		<a href="http://kapt.mobi/" target="_blank"><p class="text-center">www.kapt.mobi</p></a>
				    	</div>
				    	
				    	
				    	
				    	<div id="div_kapt_description" class="col-lg-9" style="display:none;">
				    		<h3>Développement Web</h3>
				    		<a href="http://10thingstosee.com" target="_blank"><p>www.10thingstosee.com</p></a>
				    		
				    		J'ai conçu et développé l'application web qui est compatible avec les supports PC, tablettes et mobiles.<br>
				    		Elle a été réalisée en utilisant le langage Python et s’appuie sur le <b class="orange">Framework Django.</b><br>
				    		L’ergonomie et le design sont apportés par les technologies HTML5 et CSS3 (couplées au <b class="orange">Framework Bootstrap3</b>). Concernant cette partie graphique, j'ai été épaulé pour la réaliser, et elle n'a cessé d'évoluer depuis ma fin de stage.<br>
				    		La base de données utilisée est de type PostgreSQL, et elle répertorie plus de <b class="orange">10000 lieux à visiter (objets complexes contenant énormément d'informations).</b><br><br>
							
							<a href="http://10thingstosee.com" target="_blank"><img src="images/carriere/10thingstosee.png" alt="Les 10 lieux à ne pas manquer autour de vous"></a>
							
							<h3>Application Android</h3>
							<a href="https://play.google.com/store/apps/details?id=com.kapt.tenthingstosee" target="_blank"><p>Découvrir l'application Android</p></a>
							
							J'ai également réalisé <b class="orange">la base de l'application mobile ANDROID :</b> <br>
							Création et utilisation de l'API pour récupérer les lieux, affichage de la liste de lieux, filtrage, et visualisation d'une fiche.<br><br>

							<h3>Objectif du service</h3>
							Ce service permet aux utilisateurs de retrouver les 10 lieux à ne pas manquer aux alentours d’une destination, 
							et ce de manière non exhaustive, grâce <b class="orange">aux votes de la communauté.</b><br>
							Il leur est proposé des fiches complètes sur chaque lieu, et ils peuvent <b class="orange">interagir 
							avec l’application</b> en ajoutant de nouveaux points d’intérêts, en votant, ou en commentant des destinations.<br>
							Ils peuvent également se créer un guide de séjour personnalisé.<br>
							Toutes ces étapes sont soumises à un <b class="orange">système de modération</b> et un <b class="orange">mécanisme 
							de détection des lieux en doublons</b> a également été mis en place.
				    	</div>
					</div>
					
					<div class="bs-callout bs-callout-orange row">
				    	<div class="col-lg-9">
				    		<h3>Projet industriel : Développement d’une suite logicielle pour les Ressources Humaines</h3>
				    		<p><img src="images/carriere/icon_calendar.png">  <i>Janvier 2013 à Juillet 2013</i></p>
				    		
					    	<div class="row">
				    			<br>
					    		<div id="div_button_cpro_see_more" class="col-lg-2 col-lg-push-5">
					    			<button class="btn orange-background-rp white"><b>Voir détails...</b></button>
						    	</div>
						    	<div id="div_button_cpro_see_less" class="col-lg-2 col-lg-push-5" style="display:none;">
						    		<button class="btn orange-background-rp white"><b>Voir moins</b></button>
						    	</div>
				    		</div>
			    		</div>
				    		
				    	<div class="col-lg-3">
			    			<a href="http://www.cpro.fr/" target="_blank"><img  class="col-lg-10 col-lg-push-1" style="height:100px; text-align:center;" alt="android_logo" src="images/carriere/cpro.png"></a>
			    			<p class="text-center">C'PRO Groupe, Valence 26000, France</p>
			    			<a href="http://www.cpro.fr/" target="_blank"><p class="text-center">www.cpro.fr</p></a>
				    	</div>
				    	
				    	<div id="div_cpro_description" class="col-lg-9" style="display:none;">
				    		
				    		<h3>Contexte</h3>
				    		<p>Ce développement a été réalisé en collaboration avec l'entreprise <b class="orange">ATM</b>, 
				    		qui aujourd'hui s'occupe de la commercialisation du produit. 
				    		<b class="orange">C'PRO</b> était le premier client du logiciel.</p>
				    		
				    		<p>Le <b class="orange">Projet industriel</b> a une durée de 6 mois : il est accompli par une équipe de 3 élèves : donné par l'entreprise CPRO, 
				    		il a été réalisé au sein d'un laboratoire de travail à l'ESISAR.</p>
				    		
				    		<h3>Développement Web</h3>
				    		<a href="http://www.atm-consulting.fr/nos-offres/dynamic-rh/" target="_blank">Découvrez le logiciel DynamicRH</a>
				    		<p>Le but était de le <b class="orange">Développement d’une suite logicielle R.H.</b> basée sur la solution <b class="orange">open-source Dolibarr</b></p>
				    		<p>Nous avons réalisé <b class="orange">4 dossiers de spécification</b> d'une quinzaine de pages chacun, correspondant aux 4 modules que nous devions développer :</p>
							<p>
								<ul>
									<li>Module de Gestion des Notes de Frais avec règles dynamiques</li>
									<li>Module de Gestion des Absences des salariés</li>
									<li>Module de Gestion des ressources de l'entreprise, et de leurs disponiblités</li>
									<li>Module de Gestion des compétences des salariés, et bilans individuels</li>
								</ul>
							</p>
							
				    		<h3>Gestion de projet</h3>
				    		<p>Des réunions hebdomadaires avaient lieu avec l'entreprise C'PRO pour définir les besoins des clients, mais aussi avec l'entreprise ATM pour définir les tâches.</p>
				    		<p>Les tâches étaient réparties sous forme de sprints de 2 semaines (<b class="orange">Méthode AGILE</b>)</p>
				    		<p>A tour de rôle nous étions le manager de la petite équipe que nous formions (3 élèves ingénieurs).</p>
				    	</div>
				    	
					</div>
					
					<div class="bs-callout bs-callout-orange row">
				    	<div class="col-lg-9">
				    		<h3>Stage d’audit et de restructuration de la salle du réseau informatique</h3>
				    		<p><img src="images/carriere/icon_calendar.png">  <i>Juin 2011 à Août 2011</i></p>
				    		
				    		<div class="row">
				    			<br>
					    		<div id="div_button_markem_see_more" class="col-lg-2 col-lg-push-5">
					    			<button class="btn orange-background-rp white"><b>Voir détails...</b></button>
						    	</div>
						    	<div id="div_button_markem_see_less" class="col-lg-2 col-lg-push-5" style="display:none;">
						    		<button class="btn orange-background-rp white"><b>Voir moins</b></button>
						    	</div>
				    		</div>
				    		
				    	</div>
				    	<div class="col-lg-3">
				    		<div class="row">
				    			<a href="http://www.markem-imaje.fr/" target="_blank"><img  class="col-lg-8 col-lg-push-2" style="height:90px; text-align:center;" alt="android_logo" src="images/carriere/markem.jpg"></a>
				    		</div>
				    		<div class="row">
				    			<p class="text-center">Markem-Imaje, Bourg-lès-Valence 26500, France</p>
				    			<a href="http://www.markem-imaje.fr/" target="_blank"><p class="text-center">www.markem-imaje.fr</p></a>
				    		</div>
				    	</div>
				    	
				    	<div id="div_markem_description" class="col-lg-9" style="display:none;">
				    		
				    		<h3>Contexte</h3>
				    		<p>Il s'agissait d'un <b class="orange">stage technicien</b> effectué durant la deuxième année de mon cusrus d'ingénieur.</p>
							<p>Le but du projet était de comprendre l'architecture du réseau informatique de l'entreprise, puis de 
							restructurer la salle réseau afin d'optimiser les maintenances, et diminuer les risques : 
							cette salle étant le <b class="orange">« coeur » du réseau de MARKEM-IMAJE</b>, un accès facilité est primordial, 
							et une bonne organisation physique est importante pour un tel type de salle critique</p>
				    		
				    		<h3>Déroulement du projet</h3>
				    		<p>J'ai participé aux réunions d'équipe qui avaient lieu généralement en <b class="orange">anglais</b> (équipe de 6 personnes, travaillant aussi avec des collaborateurs d'autres filiales internationales). </p>
				    		<p>J'ai réalisé le planning d'action des tâches du projet, notamment grâce au logiciel <b class="orange">Microsoft Project</b>.</p>
				    		<p>Comprendre et modéliser l'architecture du réseau de l'entreprise (Réseau très complexe, reliant différentes filiales, et un nombre très important d'utilisateurs (600 rien qu'en France))</p>
				    		<p>Le réseau a été entièrement modélisé en utilisant le logiciel <b class="orange">Microsoft Visio</b>.</p>
				    		<p>J'ai découvert et <b class="orange">appris le fonctionnement de tous les protocoles utilisés</b> 
				    		(fonctionnement des switchs, routeurs, VLAN, Firewalls, IPsec, VPN, DMZ, Trunks, HSRP...)</p>
				    		<p>Ce projet a été également l'occasion de développer mon <b class="orange">autonomie</b>, en trouvant des solutions par moi-même, ou grâce aux compétences d'autres salariés dans l'entreprise.</p>
				    		
				    	</div>
					</div>
					
				</div>
			</div>
			
			<div class="row" style="margin-top: 50px;">
				<div class="col-lg-12">
					<h2 class="orange">Mes Compétences</h2>
					<div class="bs-callout bs-callout-orange row">
						<div class="col-lg-12">
							<h3>Développement logiciel</h3>
						</div>
						<div class="col-lg-6">
					    	<div class="row">
						    	<div class="col-lg-6">
						    		<b>JAVA</b>
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		C
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					   	</div>
					   	
					   	<div class="col-lg-6">
					    	<div class="row">
						    	<div class="col-lg-6">
						    		C++
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		ADA
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png"><img src="images/carriere/empty_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					   	</div>
					   	
					   	<div class="col-lg-12">
							<h3>Développement Web</h3>
						</div>
						<div class="col-lg-6">
					    	<div class="row">
						    	<div class="col-lg-6">
						    		<b>Framework Django</b>
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		Python
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		<b>PHP</b>
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		API REST / JSON / XML
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png">
						    	</div>
					    	</div>
					   	</div>
					   	
					   	<div class="col-lg-6">
					    	<div class="row">
						    	<div class="col-lg-6">
						    		HTML5 / CSS3
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		Bootstrap
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		<b>Javascript / jQuery / AJAX</b>
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png">
						    	</div>
					    	</div>
					   	</div>
					   	
					   	<div class="col-lg-12">
							<h3>Développement Mobile</h3>
						</div>
						<div class="col-lg-6">
					    	<div class="row">
						    	<div class="col-lg-6">
						    		<b>Android natif</b>
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png">
						    	</div>
					    	</div>
					   	</div>
					   	
					   	<div class="col-lg-6">
					    	<div class="row">
						    	<div class="col-lg-6">
						    		Framework Cordova / PhoneGap
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					   	</div>
					   	
					   	<div class="col-lg-12">
							<h3>Autres</h3>
						</div>
						<div class="col-lg-6">
					    	<div class="row">
						    	<div class="col-lg-6">
						    		Gestionnaire de version (GitHub, Bitbucket...)
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		<b>Bases de données (MySql, PostgreSQL)</b>
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/empty_star.png">
						    	</div>
					    	</div>
					   	</div>
					   	
					   	<div class="col-lg-6">
					    	<div class="row">
						    	<div class="col-lg-6">
						    		UML / Merise
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png">
						    	</div>
					    	</div>
					    	<div class="row">
						    	<div class="col-lg-6">
						    		Méthode Agile / Sprints / Scrums
						    	</div>
						    	<div class="col-lg-6">
						    		<img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png"><img src="images/carriere/full_star.png">
						    	</div>
					    	</div>
					   	</div>
					   	
					   	
					</div>
				</div>
			</div>
			
			<div class="row" style="margin-top: 50px;">
				<div class="col-lg-12">
					<h2 class="orange">Mes centres d'intérêt</h2>
				    <div class="bs-callout bs-callout-orange row">
				    	<ul class="img-list">
							<li>
								<img src="images/carriere/icon_camera.jpg" width="150" height="150">
								<span class="text-content"><span><h3>Photographie</h3></span></span>
							</li>
							<li>
								<img src="images/carriere/icon_handball.jpg" width="150" height="150">
								<span class="text-content"><span><h3>Handball, 6 ans en club</h3></span></span>
							</li>
							<li>
								<img src="images/carriere/icon_cuisine.jpg" width="150" height="150">
								<span class="text-content"><span><h3>Cuisine, pâtisserie</h3></span></span>
							</li>
						</ul>
						<ul class="img-list">
							<li>
								<img src="images/carriere/icon_rubik.JPG" width="150" height="150">
								<span class="text-content"><span><h3>Rubik's cube</h3></span></span>
							</li>
							<li>
								<img src="images/carriere/icon_vtt.jpg" width="150" height="150">
								<span class="text-content"><span><h3>VTT</h3></span></span>
							</li>
							<li>
								<img src="images/carriere/icon_voyage.jpg" width="150" height="150">
								<span class="text-content"><span><h3>Voyages</h3></span></span>
							</li>
						</ul>
						
						<ul class="img-list">
							<li>
								<img src="images/carriere/icon_run.png" width="150" height="150">
								<span class="text-content"><span><h3>Course à pied, Nature</h3></span></span>
							</li>
							<li>
								<img src="images/carriere/icon_read.jpg" width="150" height="150">
								<span class="text-content"><span><h3>Romans policiers et polars</h3></span></span>
							</li>
							<li>
								<img src="images/carriere/icon_f1.png" width="150" height="150">
								<span class="text-content"><span><h3>Formule 1, compétition, très haute technologie</h3></span></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
			
		<div class="footer blue-background-rp white" style="margin-top:50px;">
			<div class="container" style="padding-top: 15px;">
				<div class="row" style="padding:10px;">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			 			<p>Me contacter : <br> Rémi Privet <br> privet.remi@gmail.com</p>
			 			<div class="row">
			 				<a href="http://www.viadeo.com/profile/002ht3uw9bgrwmt"  id="icon_viadeo"><img data-alt-src="images/home/icon_viadeo_hover.png" src="images/home/icon_viadeo.png" class="col-lg-3 col-md-3 col-sm-4 col-xs-4 xyz"></a>
			 				<a href="https://www.linkedin.com/profile/view?id=293281987&trk=nav_responsive_tab_profile"  id="icon_linkedin"><img data-alt-src="images/home/icon_linkedin_hover.png" src="images/home/icon_linkedin.png" class="col-lg-3 col-md-3 col-sm-4 col-xs-4 xyz"></a>
			 			</div>
			 		</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			 			<div class="row">
			 				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			 					<a href="photos.html" class="bluelight a-white-on-hover"> > Mes Photos</a>
			 				</div>
			 				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			 					<a href="applications.html" class="bluelight a-white-on-hover"> > Mes Applications</a>
			 				</div>
			 				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			 					<a href="carriere.html" class="bluelight a-white-on-hover"> > Mon Parcours</a>
			 				</div>
			 			</div>
			 		</div>
					<div class="col-lg-2 col-lg-push-1 col-md-2 col-md-push-1 col-sm-2 col-sm-push-1 col-xs-12">
			 			<p>© 2015 Rémi PRIVET <br> Tous droits réservés</p>
			 		</div>
			 	</div>
			</div>
        </div>
			
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="bootstrap3/js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
		
		// KAPT
		$('#div_button_kapt_see_more').click(function(){
		    $( "#div_kapt_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_kapt_see_more" ).toggle();
			$( "#div_button_kapt_see_less" ).toggle();
			
		});
		$('#div_button_kapt_see_less').click(function(){
		    $( "#div_kapt_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_kapt_see_more" ).toggle();
			$( "#div_button_kapt_see_less" ).toggle();
			
		});
		
		// CPRO
		$('#div_button_cpro_see_more').click(function(){
		    $( "#div_cpro_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_cpro_see_more" ).toggle();
			$( "#div_button_cpro_see_less" ).toggle();
			
		});
		$('#div_button_cpro_see_less').click(function(){
		    $( "#div_cpro_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_cpro_see_more" ).toggle();
			$( "#div_button_cpro_see_less" ).toggle();
			
		});
		
		// MARKEM IMAJE
		$('#div_button_markem_see_more').click(function(){
		    $( "#div_markem_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_markem_see_more" ).toggle();
			$( "#div_button_markem_see_less" ).toggle();
			
		});
		$('#div_button_markem_see_less').click(function(){
		    $( "#div_markem_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_markem_see_more" ).toggle();
			$( "#div_button_markem_see_less" ).toggle();
			
		});
		
		// IAE
		$('#div_button_iae_see_more').click(function(){
		    $( "#div_iae_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_iae_see_more" ).toggle();
			$( "#div_button_iae_see_less" ).toggle();
			
		});
		$('#div_button_iae_see_less').click(function(){
		    $( "#div_iae_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_iae_see_more" ).toggle();
			$( "#div_button_iae_see_less" ).toggle();
			
		});
		
		// ESISAR
		$('#div_button_esisar_see_more').click(function(){
		    $( "#div_esisar_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_esisar_see_more" ).toggle();
			$( "#div_button_esisar_see_less" ).toggle();
			
		});
		$('#div_button_esisar_see_less').click(function(){
		    $( "#div_esisar_description" ).toggle( "fast", function() {
				// Animation complete.
			});
			$( "#div_button_esisar_see_more" ).toggle();
			$( "#div_button_esisar_see_less" ).toggle();
			
		});
		</script>
		
	</body>
</html>