
<div style="margin-top: -35px">
    <div class="bs-docs-header bluelight-background-rp">
        <div class="container">
            <br>
            <h4 class="white-text" style="margin-top:20px"><br>Bienvenue sur le site de Rémi Privet,</h4> 
            <h5 class=" light-blue-text text-lighten-4">
                Je vous propose de découvrir quelques unes de mes activités à travers les pages de ce site internet
                <br>Bonne visite...<br><br>
            </h5>
        </div> 
    </div>
	
</div>

<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col l4 s8 push-s2">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/home/icon_photo.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        Mes photos
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <p><a ui-sref="photos">Découvrir la galerie</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mes photos<i class="material-icons right">close</i></span>
                    <p>Découvrez mes plus beaux clichés, en France ou à l'international</p>
                    <p><a class="waves-effect waves-light btn yellow accent-4 white-text col l12 s12" ui-sref="photos">
                        <i class="material-icons right">zoom_in</i>Visualiser</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col l4 s8 push-s2">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/home/icon_app.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        Mes applications
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <p><a ui-sref="applications">Découvrir mes projets</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mes applications<i class="material-icons right">close</i></span>
                    <p>Quelques projets réalisés durant mon temps libre... Android, Hybride, Web...</p>
                    <p><a class="waves-effect waves-light btn pink accent-3 white-text col l12 s12" ui-sref="applications">
                        <i class="material-icons right">zoom_in</i>Découvrir</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col l4 s8 push-s2">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/home/icon_career.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        Mon parcours
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <p><a ui-sref="career">Visualiser mon parcours</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mon parcours<i class="material-icons right">close</i></span>
                    <p>Retrouvez mon parcours scolaire et professionnel, ainsi que certaines de mes activités...</p>
                    <p><a class="waves-effect waves-light btn orange accent-4 white-text col l12 s12" ui-sref="career">
                        <i class="material-icons right">zoom_in</i>Découvrir</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

