<div style="margin-top: -35px">
    <div class="bs-docs-header pink accent-4">
        <div class="container">
            <br>
            <h4 class="white-text" style="margin-top:20px"><br>La Bonne Paye, le jeu</h4> 
            <h5 class="pink-text text-lighten-4">
                Politique de confidentialité et d’utilisation des données
            </h5>
            <br><br><br>
        </div> 
    </div>
</div>

<div class="container">
    <blockquote class="pink-blockquote">
        <p>
            Autorisations requises par l'application : AUCUNE autorisation 
            n'est demandée pour jouer à La Bonne Paye le jeu
        </p>
    </blockquote>

    
</div>
