<div style="margin-top: -35px">
    <div class="bs-docs-header pink accent-4">
        <div class="container">
            <br>
            <h4 class="white-text" style="margin-top:20px"><br>Nutri Score</h4> 
            <h5 class="pink-text text-lighten-4">
                Politique de confidentialité et d’utilisation des données
            </h5>
            <br><br><br>
        </div> 
    </div>
</div>

<div class="container">
    <blockquote class="pink-blockquote">
        <p>
            La présente politique décrit les informations que nous traitons pour le fonctionnement de
            l'application Nutri Score
        </p>
    </blockquote>
    
    <blockquote class="pink-blockquote">
        <p>
            <b>Autorisations requises par l'application :</b><br>
            <ul>
                <li>
                    L'accès à l'appareil photo est nécessaire afin de scanner les codes barres des produits.
                    Les données sont traitées uniquement localement sur votre téléphone.<br>
                    Il est également possible de refuser cette autorisation, et saisir à la main le code barre.
                </li>
            </ul>
        </p>
    </blockquote>
    
    
    <blockquote class="pink-blockquote">
        <p>
            <b>Informations sur les appareils</b><br>
            Nous recueillons des informations depuis et concernant les téléphones. 
            Par exemple, nous utilisons les informations recueillies concernant votre utilisation 
            de nos Produits sur votre téléphone afin de mieux personnaliser le contenu 
            (notamment les publicités) ou les fonctionnalités qui s’affichent 
            lorsque vous utilisez nos Produits sur un autre appareil, 
            notamment votre ordinateur portable ou votre tablette, ou afin d’évaluer si vous avez effectué 
            sur un autre appareil une action en réaction à une publicité que nous vous avions montrée sur 
            votre téléphone.<br>
            Les informations que nous obtenons depuis ces appareils comprennent :<br>
            Attributs des appareils : des informations telles que le système d’exploitation, les versions matérielles et logicielles, le niveau de batterie, l’intensité du signal, l’espace de stockage disponible, le type de navigateur, le nom et le type des applications et des fichiers, ainsi que les plugins.<br>
            Activités sur l’appareil : les informations concernant les opérations et les comportements sur l’appareil, par exemple, lorsqu’une fenêtre est mise au premier plan ou en arrière plan, ainsi que les mouvements de la souris (permettant de différencier les humains des bots).<br>
            Identifiants : les identifiants uniques, identifiants d’appareils et autres identifiants, notamment ceux provenant de jeux, d’applications ou de comptes que vous utilisez
        </p>
    </blockquote>
    
    <blockquote class="pink-blockquote">
        <p>
            <b>Comment utilisons-nous ces informations ?</b><br>
            Publicités et autres contenus sponsorisés : nous utilisons les informations vous 
            concernant à notre disposition (notamment les informations concernant vos centres d’intérêt, 
            vos actions et vos connexions) pour sélectionner et pour personnaliser les publicités, 
            les offres et les autres contenus sponsorisés que nous vous montrons. 
        </p>
    </blockquote>
    
    <blockquote class="pink-blockquote">
        <p>
            <b>Partage avec des partenaires tiers</b><br>
            Annonceurs: <br>
            Nous fournissons aux annonceurs des rapports sur les types de personnes qui voient 
            leurs publicités et sur les performances de leurs publicités,
            mais nous ne partageons pas d’informations permettant de vous identifier personnellement 
            (des informations telles que votre nom ou votre adresse e-mail qui peuvent être en elles-mêmes 
            utilisées pour vous contacter ou vous identifier), sauf si vous nous en donnez l’autorisation. 
            Par exemple, nous communiquerons aux annonceurs des informations générales concernant la 
            démographie et les centres d’intérêt (par exemple, une publicité a été vue par une femme 
            entre 25 et 34 ans qui vit à Madrid et qui aime l’ingénierie informatique) 
            pour les aider à mieux comprendre leur audience.  
        </p>
    </blockquote>
    
    <blockquote class="pink-blockquote">
        <p>
            <b>Comment adresser vos questions ?</b><br>
            Pour nous contacter, il vous suffit de nous écrire un email à l'adresse : privet.remi@gmail.com
        </p>
    </blockquote>
    
    
    
    
</div>
