<div style="margin-top: -35px">
    <div class="bs-docs-header yellow accent-4">
        <div class="container">
            <br>
            <h4 class="white-text" style="margin-top:20px"><br>Mes photos, par Rémi Privet</h4> 
            <h5 class="yellow-text text-lighten-4">
                De la France au ViêtNam, découvrez quelques uns de mes meilleurs clichés...
            </h5>
            <br><br><br>
        </div> 
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/DSC02859-2.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Ho-Chi-Minh City</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    ViêtNam<br>
					Août 2014
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_9810-2.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Hoi An</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    ViêtNam<br>
					Août 2014
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_9194-2.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Baie d'Halong</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    ViêtNam<br>
					Août 2014
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_8502-2.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Da Nang</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    ViêtNam<br>
					Août 2014
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_8844-2.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Ho-Chi-Minh City</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    ViêtNam<br>
					Août 2014
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/cassis.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Calanque d'En Vau</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    Cassis<br>
					Juin 2013
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_8864-2.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Sky Tower, HCMC</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    ViêtNam<br>
					Août 2014
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_9161.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Ducks Island, Baie d'Halong</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    ViêtNam<br>
					Août 2014
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_9684-2.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Hanoi</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    ViêtNam<br>
					Août 2014
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>
<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_2579.JPG" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Une Odonate</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    Rhône-Alpes<br>
					Avril 2011
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/Magny-cours.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Kimi Raïkkonen</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    Magny-Cours<br>
					Juillet 2007
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/photos_104.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Parc de la Vanoise</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    Rhône-Alpes<br>
					Juillet 2005
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/rallye.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Rallye de Monte-Carlo</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    Rhône-Alpes<br>
					Janvier 2012
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_2045.jpg" class="responsive-img"></div>
    <div class="row" ng-if="vm.display">
        <div class="section white col l4 m4" style="margin-top:200px; opacity:0.8">
            <div class="row container">
                <a href="" ng-click="vm.display = !vm.display"><i class="material-icons grey-text" style="float:right">close</i></a>
                <h4 class="header yellow-text">Cassis</h4>
                <p class="grey-text text-darken-3 lighten-3">
                    France<br>
					Février 2011
                </p>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!vm.display" style="margin-top:200px;">
        <a href="" class="chip" ng-click="vm.display = !vm.display">
            Description
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="parallax-container">
    <div parallax><img src="images/photos/IMG_1889.jpg" class="responsive-img"></div>
</div>
		
